@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  /*rework theme [1.2]*/
  --MainBackGroundColour: rgb(100, 100, 100);
  --ButtonBackGroundColour: rgb(218, 112, 50);
  --ButtonBackGroundColourHover: rgb(230, 130, 64);
  --HeadingBackGroundColour: rgb(70, 70, 70);
  --Warning: rgb(165, 0, 0);
  --SideBarBackgroundColour: rgb(55, 55, 55);
  --ScrollBarColour: rgb(63, 63, 63);
  --TextColour: rgb(0, 0, 0);
  --ToolTipTextColour: rgb(200, 200, 200);
  --FontFamily: "Roboto", sans-serif;
  --FontFamily_2: "Press Start 2P", cursive;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--MainBackGroundColour);
  font-family: var(--FontFamily);
  color: var(--TextColour);
  text-align: center;
}

input[type=submit],
input[type=button],
button {
  border-radius: 5px;
  font-family: var(--FontFamily);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: var(--ButtonBackGroundColour);
  font-size: 90%;
  margin: 3px;
  padding: 3px 10px 3px 10px;
}

#square_button {
  float: left;
  width: 3%;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}
#square_button #icon {
  width: 100%;
  height: 100%;
  display: block;
}

.topheading {
  background-color: var(--HeadingBackGroundColour);
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.warning {
  color: var(--Warning);
}

/* The game sidebar menu */
#sidebar {
  padding-top: 10vh;
  background-color: var(--SideBarBackgroundColour);
  height: 90vh;
}
#sidebar input[type=submit],
#sidebar input[type=button] {
  background-color: var(--ButtonBackGroundColour);
  color: var(--TextColour);
  height: 10%;
  width: 90%;
  font-size: 120%;
}
#sidebar input[type=submit]:hover,
#sidebar input[type=button]:hover {
  background-color: var(--ButtonBackGroundColourHover);
}

[game] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
}
[game] #main {
  flex: 100%;
  text-align: center;
  max-width: 85%;
  flex-wrap: wrap;
}
[game] #sidebar {
  flex: 100%;
  text-align: center;
  max-width: 15%;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-content: flex-start;
}
#main .topheadingmaingame {
  background-color: var(--HeadingBackGroundColour);
  text-align: center;
  font-size: 40px;
  flex: 100%;
  text-align: center;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}
#main #main_content {
  flex: 100%;
  text-align: center;
  max-width: 100%;
  flex-wrap: wrap;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  color: var(--TextColour);
  background-color: var(--ButtonBackGroundColourHover);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: var(--ScrollBarColour);
  border-radius: 10px;
}

#TopBar {
  display: flex;
  width: 100%;
  text-align: center;
}
#TopBar section {
  width: 25%;
  text-align: center;
}

input[type=text],
input[type=password],
input[type=email] {
  font-family: var(--FontFamily);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding: 3px 10px 1px 10px;
  background-color: var(--MainBackGroundColour);
  font-size: 15px;
  margin: 3px;
  border-bottom: solid;
  border-color: var(--TextColour);
}

#pet_grid {
  display: flex;
  flex-wrap: nowrap;
  font-size: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}

#pet_grid > div {
  flex: 1 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  line-height: 30px;
  font-size: 20px;
  visibility: hidden;
  width: 200%;
  background-color: var(--ScrollBarColour);
  color: var(--ToolTipTextColour);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100%;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 600ms;
}
.tooltip .tooltiptext_mode {
  line-height: 30px;
  font-size: 20px;
  visibility: hidden;
  width: 300%;
  background-color: var(--ScrollBarColour);
  color: var(--ToolTipTextColour);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150%;
  margin-bottom: 20%;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 1200ms;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext_mode {
  visibility: visible;
  opacity: 1;
}

#left {
  margin-left: -50%;
}

#right {
  margin-left: -150%;
}

select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 20%;
  border: 1.5px solid var(--TextColour);
  border-radius: 5px;
  background: rgb(193, 92, 33);
}

.note_warn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f44336;
  color: white;
  width: 98%;
  flex: 100%;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

.note_good {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #46c764;
  color: white;
  width: 98%;
  flex: 100%;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

.note_medium {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f48f36;
  color: white;
  width: 98%;
  flex: 100%;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

.closebtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 2%;
}

.closebtn:hover {
  color: black;
}

#Common {
  color: rgb(181, 181, 181);
}

#Uncommon {
  color: rgb(21, 202, 18);
}

#Rare {
  color: rgb(58, 152, 229);
}

#Epic {
  color: rgb(217, 25, 231);
}

#Legendary {
  color: rgb(255, 208, 0);
}

#Mythic {
  color: rgb(255, 42, 0);
}

#Unique {
  color: rgb(249, 141, 0);
}

#Unknown {
  color: rgb(87, 39, 80);
}/*# sourceMappingURL=stylesheet.css.map */