@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  /*rework theme [1.2]*/
  --MainBackGroundColour: rgb(100, 100, 100);
  --ButtonBackGroundColour: rgb(218, 112, 50);
  --ButtonBackGroundColourHover: rgb(230, 130, 64);
  --HeadingBackGroundColour: rgb(70, 70, 70);
  --Warning: rgb(165, 0, 0);
  --SideBarBackgroundColour: rgb(55, 55, 55);
  --ScrollBarColour: rgb(63, 63, 63);
  --TextColour: rgb(0, 0, 0);
  --ToolTipTextColour: rgb(200, 200, 200);
  --FontFamily: "Roboto", sans-serif;
  --FontFamily_2: "Press Start 2P", cursive;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--MainBackGroundColour);
  font-family: var(--FontFamily);
  color: var(--TextColour);
  text-align: center;
}

input[type="submit"],
input[type="button"] {
  font-family: var(--FontFamily);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: var(--ButtonBackGroundColour);
  font-size: 80%;
  margin: 3px;
  padding: 3px 10px 3px 10px;
}

.topheading {
  background-color: var(--HeadingBackGroundColour);
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.warning {
  color: var(--Warning);
}

/* The game sidebar menu */
#sidebar {
  padding-top: 10vh;
  background-color: var(--SideBarBackgroundColour);
  height: 90vh;
}

#sidebar input[type="submit"],
#sidebar input[type="button"] {
  background-color: var(--ButtonBackGroundColour);
  color: var(--TextColour);
  height: 10%;
  width: 90%;
  font-size: 120%;
}

#sidebar input[type="submit"]:hover,
#sidebar input[type="button"]:hover {
  background-color: var(--ButtonBackGroundColourHover);
}

#sidebar img {
  max-width: 100%;
}

[game] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
}

[game] #main {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  max-width: 85%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[game] #sidebar {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  max-width: 15%;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#main .topheadingmaingame {
  background-color: var(--HeadingBackGroundColour);
  text-align: center;
  font-size: 40px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

#main #main_content {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  color: var(--TextColour);
  background-color: var(--ButtonBackGroundColourHover);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: var(--ScrollBarColour);
  border-radius: 10px;
}

#TopBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

#TopBar section {
  width: 25%;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-family: var(--FontFamily);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding: 3px 10px 1px 10px;
  background-color: var(--MainBackGroundColour);
  font-size: 15px;
  margin: 3px;
  border-bottom: solid;
  border-color: var(--TextColour);
}

#pet_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}

#pet_grid > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  line-height: 30px;
  font-size: 20px;
  visibility: hidden;
  width: 200%;
  background-color: var(--ScrollBarColour);
  color: var(--ToolTipTextColour);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.tooltip .tooltiptext_mode {
  line-height: 30px;
  font-size: 20px;
  visibility: hidden;
  width: 300%;
  background-color: var(--ScrollBarColour);
  color: var(--ToolTipTextColour);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150%;
  margin-bottom: 20%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-delay: 1200ms;
          transition-delay: 1200ms;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext_mode {
  visibility: visible;
  opacity: 1;
}

#left {
  margin-left: -50%;
}

#right {
  margin-left: -150%;
}

/*
select{
	background-color: rgb(193, 92, 33);
	color: var(--TextColour);
	height: 5%;
	width: 90%;
	font-size: 120%;
	border: transparent;
}*/
select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 90%;
  border: 1px solid var(--TextColour);
  border-radius: 5px;
  background: #c15c21;
  font-size: 90%;
}

/*#VersionOverlay{
		-webkit-transform: rotate(330deg);
		-moz-transform: rotate(330deg);
		-o-transform: rotate(330deg);
		-ms-transform: rotate(330deg);
		transform: rotate(330deg);
		width: 30px;
		position:absolute;
		left: 58vw;
		top: 20vh;
}*/
.note_warn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f44336;
  color: white;
  width: 98%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

.note_good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #46c764;
  color: white;
  width: 98%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

.note_medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f48f36;
  color: white;
  width: 98%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
  max-height: 15%;
  padding: 1%;
}

.closebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 2%;
}

.closebtn:hover {
  color: black;
}

#common {
  color: #b5b5b5;
}

#uncommon {
  color: #15ca12;
}

#rare {
  color: #3a98e5;
}

#epic {
  color: #d919e7;
}

#legendary {
  color: #ffd000;
}

#mythic {
  color: #ff2a00;
}

#unique {
  color: #f98d00;
}
/*# sourceMappingURL=stylesheet.css.map */