* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
main,
div {
	display: flex;
}
.desktop {
	/*body*/
	flex-direction: column;
	flex-wrap: wrap;
	height: 100px;
	width: 100%;
}

[orange] {
	flex: 1;
	width: 30%;
	background-color: #ffad77;
	flex: 0 0 100%;
}
[yellow] {
	flex: 1;
	width: 30%;
	background-color: #ffe377;
	flex: 0 0 100%;
	width: 70%;
}
